In [1]:
import pandas as pd

In [2]:
# load the files
jan = "jan2019data.csv"
feb = "feb2019data.csv"
mar = "mar2019data.csv"
apr = "apr2019data.csv"
may = "may2019data.csv"
jun = "jun2019data.csv"
jul = "jul2019data.csv"
aug = "aug2019data.csv"
sept = "sept2019data.csv"
octb = "oct2019data.csv"
nov = "nov2019data.csv"
dec = "dec2019data.csv"

# Read files and store into Pandas data frame
jan_rides = pd.read_csv(jan)
feb_rides = pd.read_csv(feb)
mar_rides = pd.read_csv(mar)
apr_rides = pd.read_csv(apr)
may_rides = pd.read_csv(may)
jun_rides = pd.read_csv(jun)
jul_rides = pd.read_csv(jul)
aug_rides = pd.read_csv(aug)
sept_rides = pd.read_csv(sept)
octb_rides = pd.read_csv(octb)
nov_rides = pd.read_csv(nov)
dec_rides = pd.read_csv(dec)

In [3]:
jan_rides.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,01:47.4,07:07.6,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,04:43.7,10:00.6,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,06:04.0,15:55.4,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,07:03.5,52:22.6,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,07:35.9,12:39.5,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [4]:
# Using DataFrame.insert() to add a month column 
jan_rides.insert(1, "Month", "January", True) 
feb_rides.insert(1, "Month", "February", True) 
mar_rides.insert(1, "Month", "March", True) 
apr_rides.insert(1, "Month", "April", True) 
may_rides.insert(1, "Month", "May", True) 
jun_rides.insert(1, "Month", "June", True) 
jul_rides.insert(1, "Month", "July", True) 
aug_rides.insert(1, "Month", "August", True) 
sept_rides.insert(1, "Month", "September", True) 
octb_rides.insert(1, "Month", "October", True) 
nov_rides.insert(1, "Month", "November", True) 
dec_rides.insert(1, "Month", "December", True) 
  
# Observe the result 
jan_rides.head()

,tripduration,Month,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,January,01:47.4,07:07.6,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,January,04:43.7,10:00.6,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,January,06:04.0,15:55.4,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,January,07:03.5,52:22.6,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,January,07:35.9,12:39.5,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [5]:
#combine the csv files
total_2019 = pd.concat([jan_rides, feb_rides,mar_rides,apr_rides,may_rides,
                        jun_rides,jul_rides,aug_rides,sept_rides,octb_rides,nov_rides,dec_rides ],ignore_index=True,sort=True)

In [6]:
total_2019.head()

,Month,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,January,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,1,3160.0,40.778968,-73.973747,Central Park West & W 76 St,01:47.4,07:07.6,320,Subscriber
1,January,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,1,519.0,40.751873,-73.977706,Pershing Square North,04:43.7,10:00.6,316,Subscriber
2,January,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,1,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,06:04.0,15:55.4,591,Subscriber
3,January,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,1,504.0,40.732219,-73.981656,1 Ave & E 16 St,07:03.5,52:22.6,2719,Subscriber
4,January,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,1,229.0,40.727434,-73.993790,Great Jones St,07:35.9,12:39.5,303,Subscriber

In [7]:
#convert the gender column from numeric to string (0 =unknown gender, 1 = male, 2 = female)
total_2019.loc[total_2019["gender"] == 0, "gender"] = "unknown"
total_2019.loc[total_2019["gender"] == 1, "gender"] = "male"
total_2019.loc[total_2019["gender"] == 2, "gender"] = "female"

In [8]:
total_2019.head()

,Month,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,January,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,male,3160.0,40.778968,-73.973747,Central Park West & W 76 St,01:47.4,07:07.6,320,Subscriber
1,January,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,male,519.0,40.751873,-73.977706,Pershing Square North,04:43.7,10:00.6,316,Subscriber
2,January,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,male,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,06:04.0,15:55.4,591,Subscriber
3,January,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,male,504.0,40.732219,-73.981656,1 Ave & E 16 St,07:03.5,52:22.6,2719,Subscriber
4,January,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,male,229.0,40.727434,-73.993790,Great Jones St,07:35.9,12:39.5,303,Subscriber

In [9]:
#get age by taking the current year minus birth year
total_2019["Age"] = pd.Series([])

<ipython-input-9-4664a450a846>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  total_2019["Age"] = pd.Series([])

In [10]:
total_2019.head()

,Month,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype,Age
0,January,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,male,3160.0,40.778968,-73.973747,Central Park West & W 76 St,01:47.4,07:07.6,320,Subscriber,NaN
1,January,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,male,519.0,40.751873,-73.977706,Pershing Square North,04:43.7,10:00.6,316,Subscriber,NaN
2,January,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,male,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,06:04.0,15:55.4,591,Subscriber,NaN
3,January,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,male,504.0,40.732219,-73.981656,1 Ave & E 16 St,07:03.5,52:22.6,2719,Subscriber,NaN
4,January,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,male,229.0,40.727434,-73.993790,Great Jones St,07:35.9,12:39.5,303,Subscriber,NaN

In [11]:
total_2019["Age"] = 2019 - total_2019['birth year']

In [12]:
total_2019.head()

,Month,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype,Age
0,January,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,male,3160.0,40.778968,-73.973747,Central Park West & W 76 St,01:47.4,07:07.6,320,Subscriber,48
1,January,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,male,519.0,40.751873,-73.977706,Pershing Square North,04:43.7,10:00.6,316,Subscriber,55
2,January,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,male,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,06:04.0,15:55.4,591,Subscriber,32
3,January,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,male,504.0,40.732219,-73.981656,1 Ave & E 16 St,07:03.5,52:22.6,2719,Subscriber,29
4,January,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,male,229.0,40.727434,-73.993790,Great Jones St,07:35.9,12:39.5,303,Subscriber,40

In [13]:
# Create bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84, 89, 94, 99, 300]

# Create labels for these bins
group_labels_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40-44", '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
                   '75-79', '80-84', '85-89', '90-94', '95-99', '100+']
    
    
# Slice the data and place it into bins and do calculations
total_2019['Age Group'] =  pd.cut(total_2019["Age"], age_bins, labels=group_labels_age)

In [14]:
total_2019.head()

,Month,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype,Age,Age Group
0,January,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,male,3160.0,40.778968,-73.973747,Central Park West & W 76 St,01:47.4,07:07.6,320,Subscriber,48,45-49
1,January,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,male,519.0,40.751873,-73.977706,Pershing Square North,04:43.7,10:00.6,316,Subscriber,55,55-59
2,January,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,male,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,06:04.0,15:55.4,591,Subscriber,32,30-34
3,January,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,male,504.0,40.732219,-73.981656,1 Ave & E 16 St,07:03.5,52:22.6,2719,Subscriber,29,25-29
4,January,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,male,229.0,40.727434,-73.993790,Great Jones St,07:35.9,12:39.5,303,Subscriber,40,40-44

In [15]:
total_2019 = total_2019.rename(columns={'tripduration': "trip duration (sec)"})
total_2019.head()

,Month,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,trip duration (sec),usertype,Age,Age Group
0,January,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,male,3160.0,40.778968,-73.973747,Central Park West & W 76 St,01:47.4,07:07.6,320,Subscriber,48,45-49
1,January,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,male,519.0,40.751873,-73.977706,Pershing Square North,04:43.7,10:00.6,316,Subscriber,55,55-59
2,January,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,male,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,06:04.0,15:55.4,591,Subscriber,32,30-34
3,January,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,male,504.0,40.732219,-73.981656,1 Ave & E 16 St,07:03.5,52:22.6,2719,Subscriber,29,25-29
4,January,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,male,229.0,40.727434,-73.993790,Great Jones St,07:35.9,12:39.5,303,Subscriber,40,40-44

In [16]:
total_2019["trip duration (min)"] = total_2019['trip duration (sec)'] / 60
total_2019.head()

,Month,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,trip duration (sec),usertype,Age,Age Group,trip duration (min)
0,January,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,male,3160.0,40.778968,-73.973747,Central Park West & W 76 St,01:47.4,07:07.6,320,Subscriber,48,45-49,5.333333
1,January,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,male,519.0,40.751873,-73.977706,Pershing Square North,04:43.7,10:00.6,316,Subscriber,55,55-59,5.266667
2,January,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,male,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,06:04.0,15:55.4,591,Subscriber,32,30-34,9.850000
3,January,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,male,504.0,40.732219,-73.981656,1 Ave & E 16 St,07:03.5,52:22.6,2719,Subscriber,29,25-29,45.316667
4,January,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,male,229.0,40.727434,-73.993790,Great Jones St,07:35.9,12:39.5,303,Subscriber,40,40-44,5.050000

In [17]:
total_2019.to_csv('Total_2019_Rides.csv')

In [18]:
total_2019["Age Group"].value_counts()

25-29    2274096
30-34    2206804
50-54    1649317
35-39    1604370
40-44    1147219
45-49    1012044
20-24     855731
55-59     707176
60-64     419613
65-69     190852
15-19     124893
70-74      69157
75-79      24674
80-84       8343
100+        6268
85-89       2001
95-99        613
90-94        245
10-14          0
<10            0
Name: Age Group, dtype: int64